<!-- ?navbar for screens wider than 770px -->
<div class="nav-wrapper">
  <div class="nav-container d-none d-lg-block">
    <nav>
      <a href="https://js-30-rails.herokuapp.com">
        <img alt="Javasrcipt" src="https://res.cloudinary.com/du089vmk8/image/upload/v1655416826/js_logo.svg" style="width: 150px; height:60px; margin-top: 5px; margin-bottom: 5px;">
      </a>
          <ul class="social-icons">
            <ul class="no-animation">
              <li style="margin-right: 1rem; background-color:none;"><%= link_to "Home", root_path, style: "background-color: #effbfb;" %></li>
            </ul>
            <% if user_signed_in? != true %>
              <!-- <li></%= link_to "Sign Up", new_user_registration_path %></li> -->
              <li style="margin-right: 4rem; background-color:none;"><%= link_to "Login", new_user_session_path, style: "background-color: #effbfb;" %></li>
              <%= mail_to "weigheasy2022@gmail.com" do %>
                <i class="fa fa-envelope"></i>
              <% end %>
              <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook-f" href="#"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
              <li><a class="whatsapp" href="#" target="blank"><i class="fa fa-whatsapp"></i></a></li>
              <div style="margin: 0 3rem;">
                <%= link_to "https://github.com/LorenzoXavier" do %>
                  <li><i class="fa fa-github" style="color:black; font-size:1.5rem; margin-top: 10px;"></i></li>
                <% end %>
              </div>
            </ul>
            <% elsif current_user.email == Rails.application.credentials.admin_user_email %>
              <li><%= link_to "New item", items_path %></li>
              <div class="avatar-container">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= image_tag "avatar.png", class: "avatar", alt: "avatar" %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                    <li><a><%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %></a></li>
                    <li><a><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"%></a></li>
                  </ul>
                </li>
              </div>
            <% else %>
            <% end %>
          </ul>
      </nav>
  </div>
</div>
<!-- hamburger icon for devices smaller than 770px wide -->
<div class="menu-wrap d-lg-none">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <a href="https://www.weigheasy.com/">
            <img alt="Weigh Easy" src="https://res.cloudinary.com/weigheasy/image/upload/v1644103048/Weigh_easy_logo_no_border_white_yvh3pi.svg" style="width: 100px; height:60px; margin-top: 20px; margin-bottom: 5px;">
          </a>
           <br><br>
            <% unless user_signed_in? %>
              <li><%= link_to "Login", new_user_session_path%></li>
              <li><%= link_to "Sign Up", new_user_registration_path%></li>
            <% else %>
              <div class="avatar-container">
                <div class="hamburger-avatar-sizing">
                 <li>
                   <%= image_tag "avatar.png", class: "avatar-hamburger", alt: "avatar" %>
                   <br><br>
                 </li>
                </div>
              </div>
             <li><%= link_to "Edit profile", edit_user_registration_path %></li>
             <li><%= link_to "New item", items_path %></li>
             <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete%></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
