<div class="container">
  <h1>Javasrcipt30</h1>
  <h3>An ovierview of my Javascript30 course</h3>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3">
        <div class="card text-center h-100">
          <div class="card-header">
            <%= item.title %>
          </div>
          <%= link_to item.link do %>
            <img src="<%= item.image %>" class="card-img-top" alt="#{item.title}">
          <% end %>
          <div class="card-body">
            <h5 class="card-title">Class number <%= item.lesson %></h5>
            <p class="card-text"><%= item.description %></p>
            <div class="row">
              <div class="col-4 text-center"><%= link_to "View", "#{item.link}", class: "btn btn-primary", style: "min-width: 60px" %></div>
              <div class="col-4 text-center"><%= link_to "Code", "#{item.code}", class: "btn btn-success", style: "min-width: 60px" %></div>
              <div class="col-4 text-center"><%= link_to "CSS", "#{item.css}", class: "btn btn-danger", style: "min-width: 60px" %></div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <%= time_ago_in_words(item.created_at) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
