<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= item.image %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= item.lesson %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= item.link %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= item.code %>
  </p>

  <p>
    <strong>Css:</strong>
    <%= item.css %>
  </p>

</div>
